.container{
    padding: 5px;
    font-family: sans-serif;
    text-align: center;
}
.problem{
    font-size: 72px;
    color:blue;
}
.winner{
    font-size: 72px;
    color: green;
}
.winner_comment{
    font-size: 36px;
    color: blue;
}
.loser{
    font-size: 72px;
    color: red;
}